<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>Vue留言板</title>
	<link rel="stylesheet" type="text/css" href="public/css/bootstrap.css">
	<!-- <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.black.css"> -->
	<script src="vue1.0/dist/vue.js"></script>
</head>
<body>
	<div class="container" id="box">
		<form role='form'>
			<div class="form-group">
				<label for="username">用户名:</label>
				<input type="text" name="" id="username" class="form-control" v-model="username">
			</div>
			<div class="form-group">
				<label for="age">年龄:</label>
				<input type="text" name="" id="age" class="form-control" v-model="age">
			</div>
			<div class="form-group">
				<button class="btn btn-primary" type="button" v-on:click="add()">添加</button>
				<button class="btn btn-info" type="reset" >重置</button>
			</div>
		</form>
		<hr>
		<table class="table table-bordered table-hover">
			<caption class="h2 text-danger">用户信息表</caption>
			<tr class="text-success">
				<th class="text-center">序号</th>
				<th class="text-center">名字</th>
				<th class="text-center">年龄</th>
				<th class="text-center">操作</th>
			</tr>
			<tr class="text-center" v-for="item in myData">
				<td>{{$index+1}}</td>
				<!-- index只有是数据才增加 -->
				<td>{{item.name}}</td>
				<td>{{item.age}}</td>
				<td>
					<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" v-on:click="nowIndex=$index">删除</button>
				</td>
			</tr>
			<tr class="text-right" v-show="myData.length!=0">
				<td colspan='4'>
					<button class="btn btn-primary" data-toggle="modal" data-target="#myModal" v-on:click="(nowIndex=-1)&confirm()" >全部删除</button>
					<!-- v-on:click绑定多个事件 -->
				</td>
			</tr>
			<tr class="text-center text-muted" v-show="myData.length==0">
				<td colspan='4'>
					<p>暂无数据。。。。</p>
				</td>
			</tr>
		</table>

		<!-- 模态框 -->
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-index="{{nowIndex}}"> 
		<!-- data-index随便写的 用来判断点击那个删除按钮，方便展示-->			
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        <h4 class="modal-title" id="myModalLabel">确认删除吗</h4>
			      </div>
			      <div class="modal-body">
			        模态框让删除变得更复杂
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			        <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="deletMag(nowIndex)">确认</button>
			        <!-- 这里传入参数 -->
			      </div>
			    </div>
			  </div>
		</div>	
		
	</div>	
	<script src="public/js/jquery-3.1.1.min.js"></script>
	<script src="public/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		//v-model  指令扩展html标签属性
		var c = new Vue({	//相当于controller
			el:'#box',		//选择器
			data:{
				msg:'hello aqie',
				myData:[
					// {name:'aqie',age:25,}
				],
				username:''	,
				age:'',
				nowIndex:0		
			},
			methods:{
				add:function(){
					this.myData.push({		//将输入框内容存进数组
						name:this.username,
						age:this.age
					});
					this.username='';  //输入框清空
					this.age = '';
				},
				deletMag:function(n){		//把nowIndex传入,由于引入模态框
					if(n==-1){
						// alert(n)  -1
						// alert(this.myData.length);  //数组长度						
						this.myData.splice(0,this.myData.length);
					}
					this.myData.splice(n,1);	//(删除项目位置，删除数量)
				},
				confirm:function(){			//修改模态框
					$('#myModal').on('show.bs.modal',function(){
				              console.log(123)
				              $('.modal-title').text("确认删除全部吗");
				  });
				}
			}			//methods结束
	
		});	
		Vue.config.devtools = true;	
		
	</script>
</body>
</html>